<div class="registration_main">
  <div class="welcom_container">
    <div class="stockpile_explanation">
      <span class="stockpile">Stockpile </span>にできることは、<br>
      あなたのがんばりをお金に換算し、<span class="fictional_savings">架空の貯金</span> をすることです。<br>
      貯金の目的や目標を決めて、<span class="motivation">モチベーション</span> につなげましょう。<br>
    </div>
    <div class="color_block">
      <div class="title_space">
        <span class="how_to_stockpile"><span class="line"></span> How to Stockpile <span class="line"></span></span>
      </div>
      <div class="example_how_to">
        <div class="example_left">
          <%= image_tag "3.PNG", class: "stockpile_user_img" %>
        </div>
        <div class="example_center">
          ⇨
        </div>
        <div class="example_right">
          <span class="motivation">3万円のバッグを買うことをモチベーションに<br>
          ダイエットをがんばる！</span>
          <div class="down_arrow">
            ⬇︎
          </div>
          レートを 1分 = 25円 に設定<br>
          20分運動 ⇒ 500円貯金される！<br>
          毎日20分運動する ⇒ 2か月で3万円達成！！<br>
          満を持して3万円を使いましょう。
        </div>
      </div>
    </div>
    <div class="ending">
      レートのデフォルトは1分=1円ですが自由に変更ができます。
      任意で目標と期限を設定することもできます。<br>
      <span class="underline">使い方はあなた次第。無理のない目標から、一緒にがんばりましょう！</span>
    </div>
  </div>
  <div class="registration_container">
    <div class="devise_title">新規登録
    </div>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="email_field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "devise_form" %>
      </div>

      <div class="password_field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <span>※<%= @minimum_password_length %> 文字以上の半角英数字</span>
        <% end %><br />
        <%= f.password_field :password, class: "devise_form", autocomplete: "off" %>
      </div>

      <div class="password_field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: "devise_form", autocomplete: "off" %>
      </div>

      <div class="registration_actions">
        <%= f.submit "登録する", class: "btn", id: "registration_btn" %>
      </div>
    <% end %>
    <div class="devise_link">
      <%= link_to "ログインはこちら", new_user_session_path, id: "session_link" %>
    </div>
  </div>
</div>