<div class="option">
  <div class="option_explanation">
    <span>＊</span>設定を変更したいときは、以下のフォームを編集して保存してください。<br>
    <span>＊</span>設定をクリアにしたいときは、空欄にして保存してください。
  </div>
  <%= form_with model: @option, class: "option_form", local: true do |f| %>
    <div class="">
      目標：<%= f.text_field :goal, class: "goal_form", placeholder: "例）結婚式までに10万円貯める" %>
    </div>
    <div class="">
      期限：<%= f.date_field :limit, class: "limit_form" %>
    </div>
    <div class="rate_option">
      レート： <span>1分＝</span><%= f.number_field :rate, class: "rate_form", placeholder: "例）10", min: "1" %>円
    </div>
    <div class="option_submit">
      <%= f.submit "保存する", class: "btn" %>
    </div>
  <% end %>
</div>