<div class="main">
  <div class="top_page">
    <% if @record.errors.any? %>
    <div class="record_errors">
      ※保存できませんでした。空欄が無いこと、数値は半角であることに注意して再度入力してください。
    </div>
    <% end %>
    <div class="title">
      <div class="price_sum">
        現在、<span><%= "#{@price_sum} 円"%></span>貯まっています！
        <%= button_tag "つかう！", id: "use", type: "button", class: "btn"%>
      </div>
      <div class="goal">
        <% if current_user.option.goal.present? %>
          <span><%= "「 #{current_user.option.goal} 」に向けてがんばりましょう！" %></span>
        <% end %>
      </div>
      <div class="hidden", id="use_form">
        <%= form_with model: @record, url: records_path, local: true do |f| %>
          <%= f.text_field :content, class: "price_use_form", placeholder: "例）旅行費用" %>として
          <%= f.number_field :price, class: "price_use_form", placeholder: "例）300000", min: "1" %>円つかう！
          <%= f.submit "記録する", name: "form_type", value: "OK！", class: "btn", id: "ok"%>
        <% end %>
      </div>
    </div>
    <div class="record"><span>★</span>記録をする。
      <%= button_tag "がんばった！", id: "complete", type: "button", class: "btn"%>
      <%= button_tag "むだづかい…", id: "wasteful", type: "button", class: "btn"%>
    </div>
    <div class="hidden", id="complete_form">
      <%= form_with model: @record, url: records_path, local: true do |f| %>
        <%= f.text_field :content, class: "record_form", placeholder: "例）運動" %>を
        <%= f.number_field :time_minute, class: "record_form", placeholder: "例）20", min: "1" %>分できた！
        <%= f.submit "記録する", name: "form_type", value: "がんばった！の記録をする", class: "btn",id: "complete_btn"%>
      <% end %>
    </div>
    <div class="hidden", id="wasteful_form">
      <%= form_with model: @record, url: records_path, local: true do |f| %>
        <%= f.text_field :content, class: "record_form", placeholder: "例）おかし" %>に
        <%= f.number_field :price, class: "record_form", placeholder: "例）300", min: "1" %>円使った
        <%= f.submit "記録する", name: "form_type", value: "むだづかいの記録をする", class: "btn", id: "wasteful_btn"%>
      <% end %>
    </div>
  </div>
</div>