<div class="past_recors">
  <div class="calendar">
    <%= month_calendar do |date| %>
      <%= date.day %>
      <div class="calendar_record">
        <% current_user.records.where("DATE(created_at) = ?", date).each do |record| %>
          <%= link_to "#" do %>
            <%= record.content %>
            <% if record.time_minute.present? %>
              <span class="plus"><%= "#{record.time_minute}分" %></span><br>
            <% elsif record.price.present? %>
              <span class="minus"><%= "#{record.price}円" %></span><br>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="calendar_record_show">
    
  </div>
</div>