<div class="past_records">
  <%= render partial: "calendar" %>
  <div class="calendar_record_show">
    <div class="record_date">
      <span class="number"><%= @record.created_at.strftime("%Y年%m月%d日 %H時%M分") %></span>
    </div>
    <div class="record_content">
      <% if @record.time_minute.present? %>
        <%= @record.content %>を <span class="number"><%= @record.time_minute %></span>分 がんばった！
        <div class="record_price_sum">
          <span class="number"><%= @record.time_minute %></span>分 × <span class="number"><%= @record.rate %></span>円 = <span class="number"><%= @record.time_minute * @record.rate %></span>円 貯まった！
        </div>
      <% elsif @record.price.present? %>
        <%= @record.content %>に <span class="number"><%= @record.price %>円つかった</span>
      <% end %>
    </div>
    <% if @record.goal.present? || @record.goal_day.present? || @record.time_minute.present? %>
      <div class="record_option">
        <% if @record.goal.present? %>
          <div class="record_goal">
            目標：<%= @record.goal %>
          </div>
        <% end %>
        <% if @record.goal_day.present? %>
          <div class="record_goal_day">
            期限：<span class="number"><%= @record.goal_day.strftime("%Y年%m月%d日") %></span>
          </div>
        <% end %>
        <% if @record.time_minute.present? %>
          レート：1 分 ＝ <span class="number"><%= @record.rate %></span>円
        <% end %>
      </div>
    <% end %>
  </div>
</div>