<div class="session_main">
  <div class="container">
    <div class="devise_title">ログイン
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="email_field">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, class: "devise_form", autofocus: true %>
      </div>

      <div class="password_field">
        <%= f.label :password, "パスワード" %><br />
        <%= f.password_field :password, class: "devise_form", autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="check_field">
          <%= f.label :remember_me, "ログイン情報を記憶する", class: "remember_me" %>
          <%= f.check_box :remember_me, class: "check_box" %>
        </div>
      <% end -%>

      <div class="session_actions">
        <%= f.submit "ログインする", class: "btn", id: "session_btn" %>
      </div>
    <% end %>
    <div class="devise_link">
      <%= link_to "新規登録はこちら", new_user_registration_path, id: "registration_link" %>
    </div>
  </div>
</div>