<!DOCTYPE html>
<html>
  <head>
    <title>Stockpile</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all'  %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header class="header">
      <div class="nav">
        <div class="nav__left">
          <%= link_to image_tag("logo5.png", class: :logo), root_path %> <%# 5or8 %>
        </div>
        <div class="nav__right">
          <% if user_signed_in? %>
            <div class="left_days">
              <% if current_user.option.goal_day.present? %>
                <%= "あと#{@days}日" %>
              <% end %>
            </div>
            <ul class="nav__lists">
              <li class="nav__list">
                <%= link_to "過去の記録", "#"%>
              </li>
              <li class="nav__list">
                <%= link_to "設定", edit_option_path(current_user.option) %>
              </li>
              <li class="nav__list">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__logout %>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </header>
    <div class="contents_row">
      <%= yield %>
    </div>
    <footer class="footer">
      © Stockpiler All rights reserved.
    </footer>
  </body>
</html>
