<!DOCTYPE html>
<html>
  <head>
    <title>Stockpile</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag 'application', media: 'all'  %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header class="header">
      <div class="nav">
        <div class="nav__left">
          <%= link_to image_tag("logo5.png", class: :logo), root_path %> <%# 5or8 %>
        </div>
        <div class="nav__right">
          <%= link_to "設定", edit_option_path(current_user.option) %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__logout %>
        </div>
      </div>
    </header>
    <div class="contents_row">
      <%= yield %>
    </div>
    <footer class="footer">
      <p class="copyright">© Stockpiler All rights reserved.</p>
    </footer>
  </body>
</html>
